<!DOCTYPE html>
<html>
<head>
	<title>LOGINID</title>
</head>





<body style="background:black">


<center><font size="7" color="lightgreen">Smart Elec Admin Login</font></center>

<form action="/dashboard" method="GET" enctype="multipart/form-data">
    

    <p><font size="5" color="lightgreen">Enter Your LoginId</font></p><br>
    <input type="text" name="LoginId" id="LoginId" placeholder="LoginId"><br><br><br>
    

    <p><font size="5" color="lightgreen">Submit</font></p><br>
    <input type="submit" value="Login">
</form>




</body>
</html>
